<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MeditationTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <MeditationTools.Properties.Settings>
            <setting name="StopMp3Filename" serializeAs="String">
                <value>App_data/stoppa.mp3</value>
            </setting>
            <setting name="StopMedMinSec" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="StopMedMaxSec" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="StopMed2MinSec" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StopMed2MaxSec" serializeAs="String">
                <value>30</value>
            </setting>
        </MeditationTools.Properties.Settings>
    </applicationSettings>
</configuration>